.row {
  display: flex;
}
@font-face {
  font-family: "Arcade Classic";
  src: url('./ARCADECLASSIC.TTF');
}

h1 {
  font-family: "Arcade Classic", sans-serif;
}
h1, h3 {
  text-align: center;
}

.tile {
  text-align: center;
  border-style: outset;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
  border-left: 2px solid white;
  border-top: 2px solid white;
  background-color: lightgrey;
  cursor: pointer;
  line-height: 100%;
  font-family: "Arcade Classic", sans-serif;
  font-size:30px;
}

.green {
  color: green;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
.purple {
  color: purple;
}
.brown {
  color:brown;
}

.explored {
  transition-duration: 1s;
  border-style: inset;
}

.BOOM {
  font-size: 25px;
  line-height: 140%;
  border-style: inset;
}
.tripped {
  background-color:red;
}

.blackscreen {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(0,0,0,.7);
  z-index: 2;
  display:flex;
  align-items: center;
}

.popup {
  width: 40%;
  height: 40%;
  margin: 0 auto;
  background-color: white;
  z-index: 3;
}

.hiddenBlackscreen {
  display: none;
}

.hiddenPopup {
  display: none;
}

#inner-game-wrapper {
  display:flex;
  justify-content: center;
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
  border-left: 2px solid white;
  border-top: 2px solid white;
  background-color: lightgrey;
  border-style: outset;
  padding:10px;
  width:29%;
  margin:0 auto;
}
#grid-wrapper {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid grey;
  border-top: 2px solid grey;
  border-style:double;
}
