.row {
  display: flex;
}
@font-face {
  font-family: "Arcade Classic";
  src: url('./ARCADECLASSIC.TTF');
}
@font-face {
  font-family: "Alarm Clock";
  src: url('./alarmclock.ttf');
}

h1 {
  font-family: "Arcade Classic", sans-serif;
}
h1, h3 {
  text-align: center;
}

.tile {
  text-align: center;
  border-style: outset;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
  border-left: 2px solid white;
  border-top: 2px solid white;
  background-color: lightgrey;
  cursor: pointer;
  line-height: 100%;
  font-family: "Arcade Classic", sans-serif;
  font-size:30px;
}
.flagged {
  font-size: 20px;
  line-height: 30px;
}

.green {
  color: green;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
.purple {
  color: purple;
}
.maroon {
  color: maroon;
}
.black {
  color: black;
}
.gray {
  color: gray;
}
.torquoise {
  color: teal;
}

.explored {
  border-style: inset;
}

.BOOM {
  font-size: 25px;
  line-height: 140%;
  border-style: inset;
}
.tripped {
  background-color:red;
}

.blackscreen {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(0,0,0,.7);
  z-index: 2;
  display:flex;
  align-items: center;
}

.popup {
  width: 40%;
  height: 40%;
  margin: 0 auto;
  background-color: white;
  z-index: 3;
}

.hiddenBlackscreen {
  display: none;
}

.hiddenPopup {
  display: none;
}

#inner-game-wrapper {
  display:flex;
  justify-content: center;
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
  border-left: 2px solid white;
  border-top: 2px solid white;
  background-color: lightgrey;
  border-style: outset;
  padding:10px;
  margin:0 auto;
}
#grid-wrapper {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid grey;
  border-top: 2px solid grey;
  border-style:double;
}
#smiley {
  overflow:hidden;
}
.cool {
  transform: translate(1px,-30px);
}
.sad {
  transform: translate(-32px,-30px);
}
.surprise {
  transform: translate(-32px, 0px);
}
.happy {
  transform: translate(1px, 0px);
}
#upper-info {
  margin:0 auto;
  display:flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
  border-left: 2px solid white;
  border-top: 2px solid white;
  background-color: lightgrey;
  border-style: double;
}

#clock-wrapper, #flag-wrapper {
  font-family: "Alarm Clock", sans-serif;
  color: red;
  background: #000000;
  font-size: 28px;
  line-height: 34px;
  vertical-align: middle;
}
#skill-select, #game-info-and-contact, #contact-buttons-outer {
  display: flex;
  justify-content: space-between;
  margin:0 auto;
}
#game-info-and-contact {
  margin-top: 10px;
  flex-direction: column;
  text-align: center;
}
.easy {
  width: 340px;
}
.medium {
  width: 550px;
}
.hard {
  width: 750px;
}
.skill-choice {
  cursor: pointer;
  font-family: "Arcade Classic", sans-serif;
  text-decoration: underline;
  color: blue;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.contact-images {
  width: 30px;
  height: 30px;
  margin: 8px;
}
